---js
const eleventyNavigation = {
	key: "Blog",
	order: 2
};
---
<h1>Blog</h1>

<div>
	<h2>Tags:</h2>
	<ul class="tag-list">
	{% for tag in collections | getKeys | filterTagList %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
	{% endfor %}
	</ul>
</div>

<div>
	<h2>Posts:</h2>
	{% set postslist = collections.posts %}
	{% include "postslist.njk" %}
</div>
