<script>
  const startFrom = {{ (postslistCounter or postslist.length) + 1 }};
  const options = {
    day: '2-digit',
    month: 'long',
    year: 'numeric'
  };
</script>

<style>
  .postlist {
    counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }};
  }
</style>

<ol reversed class="postlist">
{% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">
			{% if post.data.title %}
				{{ post.data.title }}
			{% else %}
				<code>{{ post.url }}</code>
			{% endif %}
		</a>
		<div>
			<time class="postlist-date" datetime="{{ post.date }}">
				{{ post.date.toLocaleDateString('it-IT', { day: '2-digit', month: 'long', year: 'numeric' }) }}
			</time>
			-
			<span class="post-tags">tags:
				<ul class="post-metadata">{%- for tag in post.data.tags | filterTagList %}
					{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
						<li>
							<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
						</li>
					{%- endfor %}
				</ul>
			</span>
		</div>
	</li>
{% endfor %}
</ol>
