.article-details {
	pre:has(> code) {
		padding-block: 0.5em;
	}

	line-height: 1.7;

	p {
		margin-block: 0 1rem;

		@media screen and (min-width: 992px) {
			margin-block: 0 1.5rem;
		}
	}

	img {
		width: 100%;
		height: auto;
		border-radius: 8px;

		@media screen and (min-width: 992px) {
			width: 110%;
			max-width: 110%;
			min-width: 100%;
			transform: translateX(-5%);
			margin-block: 1rem;
		}
	}
}