.article-details {
	line-height: 1.7;

	pre:has(> code) {
		padding-block: 0.5em;
	}

	p {
		margin-block: 0 1rem;

		@media screen and (min-width: 992px) {
			margin-block: 0 1.5rem;
		}
	}

	img {
		display: block;
		max-width: 100%;
		width: auto;
		height: auto;
		border-radius: 8px;
	}

	@media screen and (min-width: 992px) {
		p:has(> img:only-child) {
			display: flex;
			justify-content: center;
			width: 110%;
			margin-inline: -5%;
			margin-block: 1rem 1.5rem;
			background: var(--light-gray);
			border-radius: 8px;
			overflow: hidden;
		}

		p > img:only-child {
			align-self: center;
			border-radius: 0;
		}
	}
}
