.card-blog {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-bottom: 16px;
	margin-bottom: 1.5em;
	border-bottom: 2px dotted var(--color-text);

	&__title {
		font-size: 1.34em;
		margin-top: 0;
		margin-bottom: 0.25em;

		a:hover {
			color: var(--color-primary);
		}
	}

	&__tags {
		display: flex;
		gap: 0.5em;
	}

	&__description {
		margin-top: 0.5em;
		margin-bottom: 0;
	}

	&__banner {
		width: 100%;
		height: auto;

		@media screen and (min-width: 576px) {
			width: 246px;
		}
	}
}
