@use "./mixins" as *;

@use "./header";
@use "./footer";
@use "./hero";
@use "./tags";
@use "./card-blog";
@use "./card-game";
@use "./card-games-list";
@use "./article-details";

@import "@fontsource/maple-mono/400.css";
@import "@fontsource/maple-mono/400-italic.css";
@import "@fontsource/instrument-sans/400.css";

:root {
	--color-primary: #bd3b9a;
	--color-text: #364153;
	--light-gray: #efefef;
}

* {
	box-sizing: border-box;
}

.sr-only {
	position: absolute;
	left: -10000px;
	width: 1px;
	height: 1px;
	top: auto;
	overflow: hidden;
}

html {
	background-color: #f8fafc;
	font-family: "Instrument Sans", system-ui, sans-serif;
	line-height: 1.5;
}

h1 {
	font-size: 2.5rem;

	@media screen and (max-width: 992px) {
		font-size: 1.85rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Maple Mono", monospace;
}

body {
	display: flex;
	flex-direction: column;
	color: var(--color-text);
	margin: 0 auto;
	width: 100%;
	max-width: 80ch;
	padding: 1rem;
	min-height: 100dvh;

	@media screen and (max-width: 992px) {
		padding-inline: 1.25rem;
	}
}

main {
	font-size: 1rem;
	margin-bottom: 40px;

	@media screen and (max-width: 992px) {
		font-size: 0, 95rem;
	}
}

a {
	color: var(--color-text);
	text-decoration: underline;
	text-decoration-color: var(--color-primary);
	text-decoration-thickness: 2px;
}

p {
	line-height: 1.5;
}

.navigation {
	display: flex;
	gap: 0.5rem;
}

.intro {
	margin-bottom: 32px;
}

.page-details {
	margin-top: 1.5rem;

	img {
		max-width: 100%;
		min-width: 100%;
		height: auto;
		border-radius: 8px;
	}

	@media screen and (min-width: 992px) {
		margin-top: 3rem;
	}
}

.blog-post-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.card-container {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

